In [1]:
import pandas as pd
import datatable as dt

from src import _1_dataset



../src/files/iris.csv

In [5]:
from _1_dataset import Dataset

In [6]:
Dataset()

TypeError: __init__() missing 3 required positional arguments: 'name', 'description', and 'csv_path'

In [6]:
df = pd.read_csv("../src/files/iris.csv")
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth Species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [8]:
[dtype.name for dtype in df.dtypes.values.tolist()]

['float64', 'float64', 'float64', 'float64', 'object']

In [9]:
a = df.dtypes.values.tolist()[0]
a

dtype('float64')

In [11]:
len(df)

150